*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.5vh;
}
.button {
    width: 100px;
    height: 24px;
}


#voltar{
    position: absolute;
    bottom: 28px;
    right: 22px;
    height: 50px;
    width: 130px;
    text-decoration: none;
    color: azure;
    background: rgb(9, 0, 19);
    border-radius: 7px;
}

#voltar:hover{
    border-bottom: 4px solid rgba(220, 179, 245, 0.619);
}

#voltar h5{
    text-align: center;
    padding-top: 15px;
}