@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{

    margin: 0;
    padding: 0;

}

body{
    background: rgb(255, 132, 132);
}

#fundo{
    position: relative;
    border-radius: 55px;
    background: rgb(254, 55, 55);
    margin-top: 80px;
    margin-left: 38%;
    margin-right: 38%;
    height: 500px;
    box-shadow:5px 6px 40px 4px;
}

h1{
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid black;
}

.no{
    margin-top: 34px;

    font-size: x-large;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

label.no{
    position: absolute;
    left: 35px;


}

input.no{
    position: absolute;
    left: 120px;
    width: 190px;

    border: none; 
    outline: none;
    border-radius: 10px;
    border-bottom: 3px solid #ccc; 
    transition: border-color 0.3s ease; 

    font-size: x-large;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

input.no:focus{
    border-bottom: 3px solid #00a6ff; 
}

.al{
    margin-top: 84px;
    font-size: x-large;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

label.al{
    position: absolute;
    left: 35px;


}

input.al{
    position: absolute;
    left: 120px;
    width: 190px;

    border: none; 
    outline: none;
    border-radius: 10px;
    border-bottom: 3px solid #ccc; 
    transition: border-color 0.3s ease; 

    font-size: x-large;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;    
}

input.al:focus{
    border-bottom: 3px solid #00a6ff; 
}

.pe{
    margin-top: 134px;
    font-size: x-large;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

label.pe{
    position: absolute;
    left: 35px;


}

input.pe{
    position: absolute;
    left: 120px;
    width: 190px;

    border: none; 
    outline: none;
    border-radius: 10px;
    border-bottom: 3px solid #ccc; 
    transition: border-color 0.3s ease; 

    font-size: x-large;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

input.pe:focus{
    border-bottom: 3px solid #00a6ff; 
}

#validar{

    position: absolute;
    left: 35px;
    top: 270px;
    height: 50px;
    width: 275px;

    background: black;
    color: whitesmoke;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 11px;

    font-size: large;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border: 3px solid rgba(213, 0, 0, 0.477)    
}

#validar:hover{
    border: 2.5px solid white   
}

#resultado{
    position: absolute;
    left: 37px;
    top: 330px;
    width: 243px;
    height: 120px;
    background: black;
    border-radius: 11px;
    border: 6px solid rgba(213, 0, 0, 0.477);
    
    padding: 10px;
    color: #ffffff;
    font-size: x-large;
}

#voltar{
    position: absolute;
    bottom: 28px;
    right: 22px;
    height: 50px;
    width: 130px;
    text-decoration: none;
    color: azure;
    background: rgb(9, 0, 19);
    border-radius: 7px;
}

#voltar:hover{
    border-bottom: 4px solid rgba(220, 179, 245, 0.619);
}

#voltar h5{
    text-align: center;
    padding-top: 15px;
}